
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: rgba(51, 41, 0, .9);
    height: 100%;
    position: fixed;
    overflow: auto;
}

li a {
    display: block;
    color: rgb(255, 240, 179);
    padding: 8px 0 8px 16px;
    text-decoration: none;
    
}
li a:hover {
    background-color: rgb(255, 240, 179);
    color: rgba(51, 41, 0, .9);
}
.active {
     background-color: rgb(255, 240, 179);
    color: rgba(51, 41, 0, .9);
}

.column1of2 {
	float: left;
	width: 200px;
	margin: 10px;
}
.column2of2 {
	float: left;
	width: 620px;
	margin: 10px;
}

body {
	background-image: url("pineapple-isolated.jpg"); 
}
.background-image {
	z-index: 5;
	opacity: 0.5;
}

section {
	background-color: rgba(255, 240, 179, 0.55);
	
}
section::after {
	 clear: both;
    display: table;
    content: "";
} 