
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #003333;
    height: 100%;
    position: fixed;
    overflow: auto;
}

li a {
    display: block;
    color: rgb(255, 240, 179);
    padding: 8px 0 8px 16px;
    text-decoration: none;
    
}
li a:hover {
    background-color: rgb(255, 240, 179);
    color: #003333;
}
.active {
     background-color: rgb(255, 240, 179);
    color: #003333;
}

.column1of2 {
	float: left;
	width: 200px;
	margin: 10px;
}
.column2of2 {
	float: left;
	width: 620px;
	margin: 10px;
}


img {
	width: 100%;
}

@media (min-width: 768px) {
    body {
        color: #000000;
        background-image: url("pineapple-beach360.jpg");
        background-size: cover;
}
  header {
  		font-size: 200%; 
  		text-align: center;
  		color: #003333;
    
}

@media (min-width: 992px) {
    body {
        color: #000000;
        background-image: url("pineapple-beach768.jpg");
		background-size: cover; 
}
    header {
    	font-size: 400%;
    	text-align: center;
    	color: #003333;
}
   
}

@media (min-width: 1200px) {
    body {
        color: #000000;
        background-image: url("pineapple-beach1024.jpg");
		background-size: cover; 
}
    header {
    	font-size: 600%;
    	text-align: center;
    	color: #003333;
}
}
